*{
    box-sizing: border-box;
    margin: 20px;
    
}
h1{
    color: DodgerBlue;
    text-shadow: 10px 10px 20px yellow;
    font-size: 4vw;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 2;
    position: relative;
    animation-timing-function: ease-in-out;
    width: 40%;
    
  
}
@keyframes example {
    from {color: DodgerBlue;}
    to {color: black;}

        0%   { left:0%;}
        25%  {left:15%;}
        50%  { left:30%;}
        75%  { left:15%; transform: rotate(20deg);}
        100% { left:0%; transform: rotate(0deg);}
      }

.a{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(208, 208, 11);
}